a{
  color:#fff;
}

a:hover{
  color:darkgrey;
}

span.navbar-brand {
  margin-left: 8px;
  font-size: 25px;
}

a.nav-link {
  font-size: 22px;
}

div.nav-item {
  margin-left: 15px;
  margin-right: 28px;
}

button {
  margin-right: 20px ;
}